git+https://github.com/ThomasChauve/xarray_uvecs@main#egg=xarray_uvecs
git+https://github.com/ThomasChauve/xarray_aita@main#egg=xarray_aita
jupyter-book
matplotlib
numpy
scikit-learn
scikit-image
xarray
